@page "/{id?}"
@model IndexModel
@section Scripts
{
    <script>
        initHub("@Model.GroupId");
    </script>
}
<div class="container">
    <environment include="Development">
        <div class="row">
            <div class="col">
                @Model.QRUrl
            </div>
        </div>
    </environment>
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Clipboard content
                </div>
                <div class="card-body">
                    <div id="clipboardContent" class="user-select-all"></div>
                    <button type="button" id="copyButton" class="btn btn-success btn-sm mt-3 d-none">Copy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="textInput" class="form-label">Text</label>
                <input type="text" id="textInput" class="form-control" />
            </div>
            <div>
                <button type="button" id="sendButton" class="btn btn-primary" disabled>Send</button>
                <button type="button" id="clearButton" class="btn btn-secondary" disabled>Clear</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="mx-auto d-block" src="data:image/png;base64,@Model.QRCode" />
        </div>
    </div>
</div>
