@page "/{id?}"
@model IndexModel
@section Scripts
{
    @if (!string.IsNullOrEmpty(Model.GroupId))
    {
        <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>initHub("@Model.GroupId");</script>
    }
}
<div class="container">
    <environment include="Development">
        <div class="row mb-3">
            <div class="col">
                @Model.QRUrl
            </div>
        </div>
    </environment>
    @if (string.IsNullOrEmpty(Model.GroupId))
    {
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-primary" href="/@Guid.NewGuid()">New clipboard</a>
            </div>
        </div>
    }
    else
    {
        <div class="row mb-3">
            <div class="col">
                <div class="mb-3">
                    <label for="textInput" class="form-label">Enter text to share:</label>
                    <input type="text" id="textInput" class="form-control" />
                </div>
                <div>
                    <button type="button" id="sendButton" class="btn btn-primary" disabled>Share</button>
                    <button type="button" id="clearButton" class="btn btn-secondary" disabled>Clear</button>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span class="align-middle">Clipboard content</span>
                        <button type="button" id="copyButton" class="btn btn-outline-secondary btn-sm d-none float-end">Copy</button>
                    </div>
                    <div class="card-body">
                        <div id="clipboardContent" class="user-select-all"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <h6>Connect with this clipboard</h6>
                <img class="mx-auto d-block" src="data:image/png;base64,@Model.QRCode" />
            </div>
        </div>
    }
</div>
